.adminBackground{
  position: absolute;
  width: 100%;
  height: 100%;
  background: #EAFFB8;
}

.loginPosition{
  margin-top: 90px;
}
  
.logoBackGround{
  text-align-last: center;
  background-color: white;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  height: auto;
  box-shadow: 0px 15px 40px rgba(56,148,41,0.2);
}
  
.logoSize{
  width: 60%;
  margin-top: 5px;
}
