@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

.modal-dialog {
  max-width: 460px !important;
  margin: 1.75rem auto;
}


.textoModal {
  text-align: center;
  margin-bottom: 15px;
}

.botaoRemoverModal {
  margin-top: 20px;
  margin-left: 7px;
  width: 170px;
  height: 45px;
  color: white;
  background-color: darkgray;
  text-transform: uppercase;
  font-family: sans-serif;
  border: none;
}

.botaoFecharModal {
  margin-top: 20px;
  margin-left: 7px;
  width: 170px;
  height: 45px;
  color: white;
  background-color: darkgray;
  text-transform: uppercase;
  font-family: sans-serif;
  border: none;
}

.botaoRemover {
  border: none;
  float: right;
  background-color: transparent;
  color: white;
}

.carrinhoEmpty {
  text-align: center;
  text-transform: uppercase;
  margin: 100px 0px;
  font-size: 25px;
}

.modal-content {
  position: relative;
  top: 250px;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-clip: padding-box;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.2);
  border-image: initial;
  border-radius: 0.3rem;
  outline: 0px;
}

.modal.show .modal-dialog {
  -webkit-transform: none;
  transform: none;
}

.cabecalhoModal {
  width: 100%;
  height: 70px;
  background-color: lightgray;
  float: left;
  padding: 1em;
  font-weight: bold;
  font-size: 20px;
}

.botaoFechar {
  border: none;
  background-color: lightgray;
  font-weight: bold;
  font-size: 20px;
  float: right;
}

.corpoModal {
  padding: 1.5em;
  text-transform: capitalize;
}

.nomeModal {
  font-weight: bold;
  margin-top: 70px;
}

.descricaoLongaModal {
  margin-top: 10px;
}

.estoqueModal {
  font-weight: bold;
  margin-top: 10px;
}

.precoModal {
  font-weight: bold;
  margin-top: 15px;
}

.lineModal {
  margin-top: 40px !important;
}

.campoTextoModal {
  border: solid 1px lightgray;
  margin-top: 20px;
  margin-left: 50px;
  width: 170px;
  height: 45px;
  font-size: 12px;
  padding: 1em;
}

.botaoComprarModal {
  float: right;
  margin-top: 20px;
  width: 170px;
  height: 45px;
  color: white;
  background-color: darkgray;
  text-transform: uppercase;
  font-family: sans-serif;
  border: none;
}

.botaoComprarModal:hover {
  color: darkgray;
  border: solid 2px darkgray;
  background-color: white;
}

.corpoModalSucess {
  padding: 3em;
  text-align: center;
}

.positionCarrinho {
  margin-top: 60px;
}

.backgroundTotal {
  background-color: #6b6363d6;
  color: white;
  width: 100%;
  height: 25px;
}

.total {
  float: right;
  text-transform: uppercase;
  font-size: 16px;
  position: relative;
  bottom: 10px;
  right: 25px;
}

.cabecalhoModalHeader {
  width: 100%;
  height: 70px;
  background-color: #6b6363d6;
  color: white;
  float: left;
  padding: 1em;
  font-weight: bold;
  font-size: 20px;
}

.botaoFecharHeader {
  border: none;
  background-color: transparent;
  color: white;
  font-weight: bold;
  font-size: 20px;
  float: right;
}

.corpoModalHeader {
  padding: 1.5em;
  text-transform: capitalize;
  background-color: #6b6363d6;
  color: white;
  min-height: 170px;
}

.msgErr {
  color: red;
  margin-top: 15px;
  margin-left: 50px;
}

.msgErr2 {
  color: red;
  margin-top: 15px;
  margin-left: 50px;
}

.produtoNome {
  float: left;
}

.produtoQuantidade {
  float: left;
  margin: 0px 50px;
}
