<div class="registerBackground">
  <div class="logoBackGround">
    <img  class="logoTam" [routerLink]="['/logar']" src="https://i.imgur.com/VmtJROa.png" />
  </div>
  <div class="card-body">
    <form class="registerPosition container p-4" [formGroup]="registerForm" (ngSubmit)="onRegister()">
      <h2>Novo Usuario</h2>
      <div class="form-group">
        <label for="name">Nome</label>
        <input type="text" class="form-control" formControlName="name"/>
      </div>
      <div class="form-group">
        <label for="username">Email</label>
        <input type="email" class="form-control" formControlName="email"/>
      </div>
      <div class="form-group">
        <label for="password">Senha</label>
        <input type="password" class="form-control" formControlName="password"/>
      </div>
      <div class="form-group">
        <button type="submit" [disabled]="loading" class="btn btn-primary">Registrar</button>
        <img *ngIf="loading" src="../../../assets/loading.gif" />
        <a [routerLink]="['/logar']" class="btn btn-link">Cancelar</a>
      </div>
      <div class="form-group mt-3">
        <p>Você ja tem uma conta? <a [routerLink]="['/logar']">Logar</a></p>
      </div>
    </form>
  </div>
</div>
