  .text {
    color: black;
    font-family: cursive;
  }

  #check {
    display: none;
  }

  #icone {
    cursor: pointer;
    padding: 25px;
    position: absolute;
    z-index: 1;
  }

  .barra {
    background-color: white;
    height: 31%;
    width: 100%;
    position: absolute;
    transition: all .2s linear;
    left: -100%;
    border-radius: 50px;
    text-align: -webkit-center;
  }

  nav {
    width: 100%;
    position: absolute;
    top: 10px;
    max-height: 210px;
  }

  nav a {
    text-decoration: none;
  }

  .link {
    background-color: #494950;
    padding: 20px;
    font-family: 'Arial';
    font-size: 12pt;
    transition: all .2s linear;
    color: #f4f4f9;
    border-bottom: 2px solid #222;
    opacity: 0;
    margin-top: 200px;
  }

  .link:hover {
    background-color: #050542;
  }

  #check:checked~.barra {
    transform: translateX(100%);
  }

  #check:checked~.barra nav a .link {
    opacity: 1;
    margin-top: 0;
  }