<div *ngIf="user$ | async as user">
  <input type="checkbox" id="check">
  <label id="icone" for="check"><i class="fas fa-bars" style="font-size: x-large;"></i></label>
  <div class="barra">
    <nav>
      <div *ngIf="user">
        <a class="nav-link text" (click)="onLogout()" routerLink="" routerLinkActive="active"><img
            src="https://www.flaticon.com/premium-icon/icons/svg/3005/3005563.svg" width="30" height="30"> Deslogar</a>
      </div>
      <div *ngIf="user">
        <a class="nav-link text" routerLink="/usuario" routerLinkActive="active"><img
            src="https://image.flaticon.com/icons/svg/3088/3088282.svg" width="30" height="30"> Usuario</a>
      </div>
      <div *ngIf="user">
        <a class="nav-link text" routerLink="/produtos" routerLinkActive="active"><img
            src="https://image.flaticon.com/icons/svg/3028/3028549.svg" width="30" height="30"> Produtos</a>
      </div>
      <div *ngIf="admin">
        <a class="nav-link text" routerLink="/produtos/adicionar" routerLinkActive="active"><i class="fas fa-book"></i>
          Novo
          Produto</a>
      </div>
      <div *ngIf="user.displayName">
        <a class="nav-link text"> Olá {{ user.displayName }}</a>
      </div>
    </nav>
  </div>
</div>