<div class="logoBackGround">
    <img class="logoSize" routerLink="/produtos" src="https://i.imgur.com/VmtJROa.png" />
</div>
<div class="textSelectionAnimal">
    <h6 *ngIf="!isDogOption">Selecione o tipo de animal</h6>
    <h6 *ngIf="isDogOption">Selecione o Porte de animal</h6>
</div>
<form class="container">
    <div class="dropdown" *ngIf="!isCatOption && !isBirdOption">
        <div class="backgroundDropdown slide" (click)="isDogOption = !isDogOption">
            <div class="backgroundAnimal">
                <img class="imgAnimals" src="https://i.imgur.com/IwECYDC.png">
            </div>
            <h3 class="textDropdown">Cachorro</h3>
        </div>
        <div class="row" *ngIf="isDogOption">
            <a class="col" href="#">
                <div class="backgroundAnimalDropdown imgDog1"></div>
                <div class="textAnimalDropdown">Pequeno</div>
            </a>
            <a class="col" href="#">
                <div class="backgroundAnimalDropdown imgDog2"></div>
                <div class="textAnimalDropdown">Médio</div>
            </a>
            <a class="col" href="#">
                <div class="backgroundAnimalDropdown imgDog3"></div>
                <div class="textAnimalDropdown">Grande</div>
            </a>
        </div>
    </div>

    <div class="dropdown " ng-hide="myValue" *ngIf="!isDogOption && !isBirdOption">
        <div class="backgroundDropdown slide" (click)="isCatOption = !isCatOption">
            <div class="backgroundAnimal">
                <img class="imgAnimals" src="https://i.imgur.com/VRfJerL.png">
            </div>
            <h3 class="textDropdown">Gato</h3>
        </div>
        <div class="row" *ngIf="isCatOption">
            <a class="col" href="#">
                <div class="backgroundAnimalDropdown imgCat1"></div>
                <div class="textAnimalDropdown">Adulto</div>
            </a>
            <a class="col" href="#">
                <div class="backgroundAnimalDropdown imgCat2"></div>
                <div class="textAnimalDropdown">Filhote</div>
            </a>
            <a class="col" href="#">
                <div class="backgroundAnimalDropdown imgCat3"></div>
                <div class="textAnimalDropdown">Castrado</div>
            </a>
        </div>
    </div>

    <div class="dropdown " *ngIf="!isDogOption && !isCatOption">
        <div class="backgroundDropdown slide " (click)="isBirdOption = !isBirdOption">
            <div class="backgroundAnimal">
                <img class="imgAnimals" src="https://i.imgur.com/IRrE9g4.png">
            </div>
            <h3 class="textDropdown">Ave</h3>
        </div>
        <div class="row" *ngIf="isBirdOption">
            <a class="col" href="#">
                <div class="backgroundAnimalDropdown imgBird1"></div>
                <div class="textAnimalDropdown">Galinhas</div>
            </a>
            <a class="col" href="#">
                <div class="backgroundAnimalDropdown imgBird2"></div>
                <div class="textAnimalDropdown">Passaros</div>
            </a>
            <a class="col" href="#">
                <div class="backgroundAnimalDropdown imgBird3"></div>
                <div class="textAnimalDropdown">Outros</div>
            </a>
        </div>
    </div>

    <button *ngIf="isDogOption || isCatOption || isBirdOption" (click)="clickReturn()" type="reset"
        class="btn btnCloseModal" aria-label="Close"></button>
</form>

<style>
    .btnCloseModal {
        position: absolute;
        bottom: 25px;
        width: 85px;
        height: 60px;
        border-radius: 30px;
        background-repeat: space;
        background-position: center;
        background-size: 60%;
        background-color: #60AD31;
        background-image: url(https://i.imgur.com/lJ429gz.png) !important;
        box-shadow: 5px 5px 20px #60AD31;
    }

    .slide {
        border-radius: 20px;
        background-size: 200% 200%;
        -webkit-transition: background-position 1s;
        -moz-transition: background-position 1s;
        transition: background-position 1s;
        background-image: linear-gradient(to left, white 50%, #B4E243 0);
        background-position: right;
    }

    .slide:hover {
        background-position: left;
    }

    .textSelectionAnimal {
        padding-top: 30px;
        text-align: -webkit-center;
    }

    .container {
        width: 100%;
        padding-top: 10px;
        padding-right: 50px;
        padding-left: 50px;
        margin-right: auto;
        margin-left: auto;
    }

    .backgroundDropdown {
        background-color: white;
        margin-top: 30px;
        height: 93px;
        border-radius: 25px;
        z-index: 3;
    }

    .textAnimalDropdown {
        font-weight: bold;
        text-align: center;
        color: #389429;
        position: relative;
        animation-name: dropdownOption;
        animation-duration: 1s;
    }

    .backgroundAnimalDropdown {
        border-radius: 25px;
        background-color: #B4E243;
        height: 130px;
        text-align: center;
        position: relative;
        animation-name: dropdownOption;
        animation-duration: 1s;
    }

    @keyframes dropdownOption {
        0% {
            height: 0px;
        }

        100% {
            left: 0px;
            top: 0px;
        }
    }

    .dropdown {
        animation-name: dropdown;
        animation-duration: 1.5s;
    }

    @keyframes dropdown {
        0% {
            top: -20px;
        }

        100% {
            left: 0px;
            top: 0px;
        }
    }



    .backgroundAnimal {
        border-radius: 25px;
        background-color: #B4E243;
        max-width: 93px;
        width: 93px;
        height: 93px;
        text-align: center;
    }

    .textDropdown {
        font-weight: bold;
        text-align: -webkit-center;
        position: relative;
        bottom: 65px;
        left: 30px;
    }

    .imgAnimals {
        width: 60px;
        height: 55px;
        margin-top: 20%;
    }

    .row {
        margin-top: 20px;
    }

    .col {
        padding: 0px 10px;
    }

    .imgDog1 {
        background-image: url(https://i.imgur.com/EphGQTB.png) !important;
        background-position: center;
        background-size: 50%;
        background-repeat-y: no-repeat;
        background-repeat-x: no-repeat;
    }

    .imgDog2 {
        background-image: url(https://i.imgur.com/EphGQTB.png) !important;
        background-position: center;
        background-size: 60%;
        background-repeat-y: no-repeat;
        background-repeat-x: no-repeat;
    }

    .imgDog3 {
        background-image: url(https://i.imgur.com/EphGQTB.png) !important;
        background-position: center;
        background-size: 70%;
        background-repeat-y: no-repeat;
        background-repeat-x: no-repeat;
    }

    .imgCat1 {
        background-image: url(https://i.imgur.com/GURbF2T.png) !important;
        background-position: center;
        background-size: 50%;
        background-repeat-y: no-repeat;
        background-repeat-x: no-repeat;
    }

    .imgCat2 {
        background-image: url(https://i.imgur.com/NIR1xhA.png) !important;
        background-position: center;
        background-size: 35%;
        background-repeat-y: no-repeat;
        background-repeat-x: no-repeat;
    }

    .imgCat3 {
        background-image: url(https://i.imgur.com/guY4AaD.png) !important;
        background-position: center;
        background-size: 50%;
        background-repeat-y: no-repeat;
        background-repeat-x: no-repeat;
    }

    .imgBird1 {
        background-image: url(https://i.imgur.com/UaeqbS4.png) !important;
        background-position: center;
        background-size: 50%;
        background-repeat-y: no-repeat;
        background-repeat-x: no-repeat;
    }

    .imgBird2 {

        background-image: url(https://i.imgur.com/IRrE9g4.png) !important;
        background-position: center;
        background-size: 50%;
        background-repeat-y: no-repeat;
        background-repeat-x: no-repeat;
    }

    .imgBird3 {
        background-image: url(https://i.imgur.com/P9AwRP3.png) !important;
        background-position: center;
        background-size: 50%;
        background-repeat-y: no-repeat;
        background-repeat-x: no-repeat;
    }
</style>