<div class="logoBackGround">
    <img class="logoSize" routerLink="/produtos" src="https://i.imgur.com/VmtJROa.png" />
</div>
<div class="textSelectionAnimal">
    <h6>Selecione o tipo de animal</h6>
</div>
<div class="container">
    <div class="dropdown" for="dog" *ngIf="!isCatOption && !isBirdOption">
        <div class="backgroundDropdown slide" (click)="isCachorroOption = !isCachorroOption" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <div class="backgroundAnimal">
                <img class="imgAnimals" src="https://i.imgur.com/IwECYDC.png">
            </div>
            <h3 class="textDropdown">Cachorro</h3>
        </div>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">
                <div class="backgroundAnimal"></div>
            </a>
            <a class="dropdown-item" href="#">
                <div class="backgroundAnimal"></div>
            </a>
            <a class="dropdown-item" href="#">
                <div class="backgroundAnimal"></div>
            </a>
        </div>
    </div>
    
    <div class="dropdown" ng-hide="myValue" *ngIf="!isCachorroOption && !isBirdOption">
        <div class="backgroundDropdown slide" (click)="isCatOption = !isCatOption" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
            <div class="backgroundAnimal">
                <img class="imgAnimals" src="https://i.imgur.com/VRfJerL.png">
            </div>
            <h3 class="textDropdown">Gato</h3>
        </div>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">
                <div class="backgroundAnimal"></div>
            </a>
            <a class="dropdown-item" href="#">
                <div class="backgroundAnimal"></div>
            </a>
            <a class="dropdown-item" href="#">
                <div class="backgroundAnimal"></div>
            </a>
        </div>
    </div>

    <div class="dropdown" *ngIf="!isCachorroOption && !isCatOption">
        <div class="backgroundDropdown slide" (click)="isBirdOption = !isBirdOption" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
            <div class="backgroundAnimal">
                <img class="imgAnimals" src="https://i.imgur.com/IRrE9g4.png">
            </div>
            <h3 class="textDropdown">Ave</h3>
        </div>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">
                <div class="backgroundAnimal"></div>
            </a>
            <a class="dropdown-item" href="#">
                <div class="backgroundAnimal"></div>
            </a>
            <a class="dropdown-item" href="#">
                <div class="backgroundAnimal"></div>
            </a>
        </div>
    </div>
</div>


<style>

    .dropdown-menu {
        background-color: transparent;
        background-color: transparent;
        border: none;
    }

    .dropdown-item {
        display: table-cell !important;
        width: 100%;
        padding: .25rem 1.5rem;
        clear: both;
        font-weight: 400;
        color: #212529;
        text-align: inherit;
        white-space: nowrap;
        background-color: transparent;
        border: 0;
        padding: 7px;
    }


    .slide {
        border-radius: 20px;
        background-size: 200% 200%;
        -webkit-transition: background-position 1s;
        -moz-transition: background-position 1s;
        transition: background-position 1s;
        background-image: linear-gradient(to left, white 50%, #B4E243 0);
        background-position: right;
    }

    .slide:hover {
        background-position: left;
    }

    .textSelectionAnimal {
        padding-top: 30px;
        text-align: -webkit-center;
    }

    .container {
        width: 100%;
        padding-top: 10px;
        padding-right: 50px;
        padding-left: 50px;
        margin-right: auto;
        margin-left: auto;
    }

    .backgroundDropdown {
        background-color: white;
        margin-top: 30px;
        height: 93px;
        border-radius: 25px;
    }

    .textDropdown {
        font-weight: bold;
        text-align: -webkit-center;
        position: relative;
        bottom: 65px;
        left: 30px;
    }

    .backgroundAnimal {
        border-radius: 25px;
        background-color: #B4E243;
        max-width: 93px;
        width: 93px;
        height: 93px;
        text-align: center;
    }

    .imgAnimals {
        width: 60px;
        height: 55px;
        margin-top: 20%;
    }
</style>